.card {
  height: 100px;
  width: 140px;
  cursor: pointer;
  border-radius: 1rem;
  border: none;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  width: 1000px;
}

.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.gray {
  background-color: gray;
}

.show {
  display: block;
}
.hide {
  display: none;
}